.navigation {
    border-radius: 50px;
    background: #6c4a1e;
    box-shadow: -15px 15px 30px #37260f,
        15px -15px 30px #a16e2d;
    color: aliceblue;
    list-style-type: none;
    overflow: hidden;
    padding: 20px;
    margin: auto;
    display: inline-block;
}

.navigation__item {
    display: inline-block;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color: aliceblue;
    border-radius: 116px;
    background: #6c4a1e;
    padding: 10px;
}

.navigation__item:hover {
    background: #a16e2d;
    color: aliceblue;
    text-decoration: none;
}

.navigation__list {
    overflow: hidden;
    margin: 0;
    display: inline-block;
}

.navigation__link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
