.table {
    border: 5px solid #000000;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
    color: rgb(0, 0, 0)
}

.table__cell {
    border: 3px solid #000000;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table__caption {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 30px;
    color: #a16e2d;
}

.table__cell--header {
    background-color: bisque;
}

.table__row:nth-child(even) {
    background-color: rgba(219, 185, 140, 0.707);
}

.table__row:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.table__row:hover {
    background-color: #7a7979;
}

.tableContainer {
    overflow-x: auto;
}